.planCard {
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  background-color: var(--white);
  padding: 16px 20px;
  width: 95px;
  height: 150px;
  user-select: none;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    border-color: var(--purplish-blue);
  }

  &.planCardSelected {
    background-color: var(--magnolia);
    border-color: var(--purplish-blue);
  }

  &Content {
    &Title {
      font-weight: 500;
      font-size: 18px;
      color: var(--marina-blue);
      margin-bottom: 4px;
    }

    &Fee {
      font-weight: 500;
      color: var(--cool-gray);
    }
  }
}
