.step1Wrapper {
  padding: 40px 100px;
  @media screen and (max-width: 1024px) {
    padding: 40px;
  }
  display: flex;
  flex-direction: column;
  height: calc(100% - 80px);
  justify-content: space-between;

  .mainTitle {
    color: var(--marina-blue);
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.04em;
  }

  .mainDescription {
    margin: 8px 0 36px 0;
    color: var(--cool-gray);
    font-size: 16px;
  }

  .mar {
    margin: 20px 0;
  }

  .actions {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}
